 <!-- Cover Photo-->
  <header>
    <div class="container">
      <div class="row padding-top-100 white">
        <div class="container">
          <h1><b>PARADIGMA GURU</b></h1>
          <h4>oleh Fingernailz</h4>
          <p>DRAMA</p>
        </div>
      </div>
    </div>
  </header>
  <!-- END Cover Photo-->

  <!-- Terkini-->
  <div class="row grey-font">
    <div class="container">
      <div class="row comic-title">
        <div class="container">
          <div class="col-md-12">
            <h1>Terkini </h1>
            <p>Episod terkini daripada Aretis </p>
          </div>
          <div class="row center">
              <div class="col-md-3 col-sm-6">
                  <img src="images/cover-grey.png">
                  <h4><b>PARADIGMA GURU</b></h4>
                  <div class="color-999">
                    <p>Fingernailz</p>
                    <p>Episod 01</p>
                    <p>DRAMA</p>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <img src="images/cover-grey.png">
                  <h4><b>PARADIGMA GURU</b></h4>
                  <div class="color-999">
                    <p>Fingernailz</p>
                    <p>Episod 01</p>
                    <p>DRAMA</p>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <img src="images/cover-grey.png">
                  <h4><b>PARADIGMA GURU</b></h4>
                  <div class="color-999">
                    <p>Fingernailz</p>
                    <p>Episod 01</p>
                    <p>DRAMA</p>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <img src="images/cover-grey.png">
                  <h4><b>PARADIGMA GURU</b></h4>
                  <div class="color-999">
                    <p>Fingernailz</p>
                    <p>Episod 01</p>
                    <p>DRAMA</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- End Terkini-->

  <!-- POPULAR -->
  <div class="row grey-font soft-grey">
    <div class="container">
      <div class="row comic-title">
        <div class="container">
          <div class="col-md-12">
            <h1>Popular </h1>
            <p>Siri Aretis paling popular.</p>
          </div>

          <div class="row center">
            <div class="col-md-3 col-sm-6 ">
                <img src="images/cover-grey.png">
                <h4><b>PARADIGMA GURU</b></h4>
                <div class="color-999">
                  <p>Fingernailz</p>
                  <p>DRAMA</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <img src="images/cover-grey.png">
                <h4><b>PARADIGMA GURU</b></h4>
                <div class="color-999">
                  <p>Fingernailz</p>
                  <p>DRAMA</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <img src="images/cover-grey.png">
                <h4><b>PARADIGMA GURU</b></h4>
                <div class="color-999">
                  <p>Fingernailz</p>
                  <p>DRAMA</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <img src="images/cover-grey.png">
                <h4><b>PARADIGMA GURU</b></h4>
                <div class="color-999">
                  <p>Fingernailz</p>
                  <p>DRAMA</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END POPULAR -->

  <!--  PILIHAN EDITOR -->
  <div class="row grey-font">
    <div class="container">
      <div class="row comic-title">
        <div class="container">
          <div class="col-md-12">
            <h1>Rekemen</h1>
            <p>Siri Aretis yang disyorkan oleh Editor.</p>
          </div>
          <div class="row center">
              <div class="col-md-3 col-sm-6">
                  <img src="images/cover-grey.png">
                  <h4><b>PARADIGMA GURU</b></h4>
                  <div class="color-999">
                    <p>Fingernailz</p>
                    <p>DRAMA</p>
                  </div>
              </div>

              <div class="col-md-3 col-sm-6">
                  <img src="images/cover-grey.png">
                  <h4><b>PARADIGMA GURU</b></h4>
                  <div class="color-999">
                    <p>Fingernailz</p>
                    <p>DRAMA</p>
                  </div>
              </div>

              <div class="col-md-3 col-sm-6">
                  <img src="images/cover-grey.png">
                  <h4><b>PARADIGMA GURU</b></h4>
                  <div class="color-999">
                    <p>Fingernailz</p>
                    <p>DRAMA</p>
                  </div>
              </div>

              <div class="col-md-3 col-sm-6">
                  <img src="images/cover-grey.png">
                  <h4><b>PARADIGMA GURU</b></h4>
                  <div class="color-999">
                    <p>Fingernailz</p>
                    <p>DRAMA</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  END PILIHAN EDITOR -->