  <!-- Cover Photo-->
  <header class="komik">
    <div class="container">
      <div class="row padding-top-100 white">
        <div class="container">
          <h1><b>Pengkarya</b></h1>
          <h4>Walaupun mereka pengkarya amatur, namun mereka bercita-cita besar!</h4>
        </div>
      </div>
    </div>
  </header>
  <!-- END Cover Photo-->
  <!-- Pengkarya --> 
  <div class="green-font">
    <div class="container">
      <div class="row">
        <div class="col-md-6 center">
          <h1>19</h1>
          <p>Pelukis</p>
        </div>
        <div class="col-md-6 center">
          <h1>7</h1>
          <p>Penulis</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Pengkarya --> 
  
  <!-- List Pengkarya -->
<div class="row soft-grey">
  <div class="container">
       <div class="col-md-12 " >
          <h3><b>Aretis</b></h3>
        </div>
     <div class="col-md-3 col-sm-6 thumbnail-custom center" ng-repeat="aretis in aretis">
          <a href="{{aretis.fbUrlPage}}" target="_blank"><img src="images/bulat.png" alt=""></a>
          <div>
            <h4 class="black">{{aretis.aretisId}}</h4>  
            <p class="soft-grey-font">{{aretis.peranan}}</p>
          </div>
        </div>   
  </div>
</div>
